## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Polignano A Mare,IT,77.72,clear sky,40.9959,17.2159,Grotta Palazzese
1,2,Saint-Philippe,RE,71.11,scattered clouds,-21.3585,55.7679,Le four à pain
2,3,Shetpe,KZ,76.37,clear sky,44.1667,52.1167,Rtsm Shetpe Analog
3,11,Hamilton,US,76.05,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
4,20,Saint-Joseph,RE,70.11,scattered clouds,-21.3667,55.6167,"""Plantation Bed and Breakfast"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Nola"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Nola"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ajaccio"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Ulcinj"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Quartucciu"]

In [9]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
147,480,Nola,IT,79.39,clear sky,40.922,14.5329,Palazzo Giordano Bruno

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [11]:
start,end,stop1,stop2,stop3

((40.922, 14.5329),
 (40.922, 14.5329),
 (42.0, 8.9167),
 (41.9294, 19.2244),
 (39.2519, 9.1794))

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
almeria2calatayud = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], 
                                      travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(almeria2calatayud)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,480,Nola,IT,79.39,clear sky,40.9220,14.5329,Palazzo Giordano Bruno
1,345,Ajaccio,FR,71.65,clear sky,42.0000,8.9167,Sole E Monte
2,593,Ulcinj,ME,75.42,clear sky,41.9294,19.2244,Hotel Palata Venezia
3,609,Quartucciu,IT,77.18,clear sky,39.2519,9.1794,Best Western Hotel Residence Italia

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))